/* code instruction */
/* 
    - Navbar () number line ✅
    - Home page () number line ✅
    - About page () number line ✅
    - Portfolio page () number line ✅
    - Contact page () number line ✅
    - Footer () number line ✅

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


:root {
    --primary-color: #27a102;
    --primary-text-color: #1a133b;
    --secondary-text-color: #797687;
    --thard-text-color: #2b2350;
}

/* page loader css start */
#loader {
      position: fixed;
      inset: 0;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .loader {
      --d: 22px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      color: #25b09b;
      box-shadow:
        calc(1*var(--d)) calc(0*var(--d)) 0 0,
        calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d)) calc(1*var(--d)) 0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d)) 0 5px,
        calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
      animation: l27 1s infinite steps(8);
    }

    @keyframes l27 {
      100% {
        transform: rotate(1turn);
      }
    }

    #loader.hidden {
      opacity: 0;
      visibility: hidden;
    }

    #content {
      text-align: center;
      padding: 50px;
    }

    #content h1 {
      font-size: 2rem;
    }
/* page loader css end */


/* common css */
.container {
    max-width: 1250px;
    margin: auto;
}

section,
.section-padding {
    padding: 60px 0px;
}

.section-heading h1 {
    font-size: 40px;
    color: var(--primary-text-color);
    font-weight: 600;
}

.section-heading h1 span {
    color: var(--primary-color);
}

.section-heading p {
    color: var(--secondary-text-color);
    font-size: 16px;
    margin: 15px 0px 60px 0px;
}

.lh {
    line-height: 28px;
}

/* nav area start */
#navbar {
    transition: all 0.5s ease;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease forwards;
    z-index: 999;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.binary-nav li a {
    text-decoration: none;
    position: relative;
    color: var(--primary-text-color);
    font-weight: 500;
    transition: all ease-in-out 0.5s;
}

.binary-nav li a:hover {
    color: var(--primary-color) !important;
}

.binary-nav li a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--primary-color);
    left: 0;
    bottom: 2px;
    transition: all ease-in-out 0.5s;
}

.binary-nav li a:hover::after {
    width: 100%;
}

.nav-btn a {
    background-color: var(--primary-color);
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 5px 20px 2px var(--primary-color);
    transition: all ease-in-out 0.5s;
}

.nav-btn a:hover {
    box-shadow: none;
}

/* nav area end */

/*
 * ┌─────────────────────────────────────────────┐
 * │  Author : Sumon Prodhan                     │
 * │  Role   : Full Stack Developer              │
 * │  Email  : sumonpro.dev@gmail.com            │
 * │  Page   : Home Page css code                │
 * └─────────────────────────────────────────────┘
 */

/* hero area start */

.hero-content h1 {
    font-size: 45px;
    color: var(--primary-text-color);
    font-weight: 300;
    margin-bottom: 15px;
    padding-top: 70px;
    letter-spacing: -2px;
}

.hero-content h1 span {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0px;
}

.hero-content p {
    color: var(--secondary-text-color);
    font-size: 16px;
    margin-bottom: 50px;
}

.hero-content-btn {
    display: flex;
    align-items: center;
}

.hero-btn-1 {
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-right: 20px;
    transition: all ease-in-out 0.5s;
}

.hero-btn-1:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.hero-btn-2 {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    transition: all ease-in-out 0.5s;
}

.hero-btn-2:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.hero-section {
    position: relative;
    overflow-x: clip;
}

.hero-background-element .ball {
    position: absolute;
    top: 14%;
    left: 12%;
    z-index: -1;
}

.hero-background-element .triangle {
    position: absolute;
    top: 85%;
    left: 40%;
    z-index: 1;
}

.hero-background-element .dot-shape {
    position: absolute;
    top: -60px;
    right: 40px;
    z-index: -2;
}

.hero-background-element .circle-bg {
    position: absolute;
    width: 1130px;
    height: 1130px;
    border-radius: 50%;
    background-color: #f0f5e6;
    top: -380px;
    right: -30px;
    z-index: -1;
    pointer-events: none;
}

.rotate-icon {
    display: inline-block;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* hero area end */


/* about area start */
.about-section {
    margin-top: 200px;
}

.dot-img {
    top: -35px;
    left: 40%;
    transform: translateX(-50%);
    z-index: -1;
}

.dot-img img {
    width: 200px !important;
    height: auto !important;
}

/* about area end */


/* project area start */
.project-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}

.project-card:hover {
    transform: scale(1.03);
}

.project-card-main-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.project-overlay-img img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.project-overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    opacity: 1;
}

/* project area end */

/* technology area start */
.technologies-section {
    background-color: #f5f9f8;
    margin-bottom: 20px;
}

.technology-img-area {
    min-height: 400px;
}

.technology-heading h1 {
    font-size: 40px;
    color: var(--primary-text-color);
    font-weight: 600;
    margin-bottom: -20px;
}

.technology-heading h1 span {
    color: var(--primary-color);
}

.our-technologies-img img {
    max-width: 100px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.our-technologies-img .react {
    top: 20%;
    left: 23%;
}

.our-technologies-img .laravel {
    top: 28%;
    left: 33%;
    object-fit: contain;
}

.our-technologies-img .wordpress {
    top: 45%;
    left: 25%;
    object-fit: contain;
}

.our-technologies-img .bootsrtap {
    top: 23%;
    left: 50%;
    object-fit: contain;
}

.our-technologies-img .flutter {
    top: 45%;
    left: 45%;
    object-fit: contain;
}

.our-technologies-img .next {
    top: 65%;
    left: 35%;
    object-fit: contain;
}

.our-technologies-img .firebase {
    top: 30%;
    left: 63%;
    object-fit: contain;
}

.our-technologies-img .sql {
    top: 22%;
    left: 75%;
    object-fit: contain;
}

.our-technologies-img .aws {
    top: 73%;
    left: 20%;
    object-fit: contain;
}

.our-technologies-img .tailwind {
    top: 60%;
    left: 60%;
    object-fit: contain;
}

.our-technologies-img .google-map {
    top: 70%;
    left: 50%;
    object-fit: contain;
}

.our-technologies-img .vue {
    top: 72%;
    left: 72%;
    object-fit: contain;
}

.bounce-y {
    animation: bounceY 5s infinite;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}

@keyframes bounceY {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

.bounce-x {
    animation: bounceX 5s infinite;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}

@keyframes bounceX {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30px);
    }
}

.delay-1 {
    animation-delay: 0.2s;
}

.delay-2 {
    animation-delay: 0.4s;
}

.delay-3 {
    animation-delay: 0.6s;
}

.delay-4 {
    animation-delay: 0.8s;
}

.delay-5 {
    animation-delay: 1s;
}

/* technology area end */


/* services area start */
.services-card {
    width: auto;
    height: 260px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}

.services-card:hover {
    transform: scale(1.05);
}

.services-card-img img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

/* services area end */


/* partner area start */
.partner-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px 100px;
    padding: 0px;
    flex-wrap: wrap;
}

.partner-content ul li {
    list-style: none;
}

.partner-content ul li img {
    width: 150px;
    filter: grayscale(1);
    transition: all ease-in-out 0.3s;
}

.partner-content ul li img:hover {
    filter: grayscale(0);
}

/* partner area end */
/* home page css end */

/*
 * ┌─────────────────────────────────────────────┐
 * │  Author : Sumon Prodhan                     │
 * │  Role   : Full Stack Developer              │
 * │  Email  : sumonpro.dev@gmail.com            │
 * │  Page   : Footer css code                   │
 * └─────────────────────────────────────────────┘
 */

/* footer area start */
footer {
    background-color: #171616;
    position: relative;
    overflow: visible;
    z-index: 10;
    min-height: 400px;
}

.footer-social-icon ul {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0px;
}

.footer-social-icon ul li {
    list-style: none;
}

.footer-social-icon ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #27a102;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s;
}

.footer-social-icon ul li a:hover {
    color: #27a102;
    color: #fff;
    transition-behavior: smooth;
    transform: translateY(-5px)
}

.footer-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.footer-item i {
    color: green;
    margin-right: 10px;
    font-size: 16px;
}

.footer-devider {
    border: 1px solid var(--secondary-text-color);
    margin: 30px 0px 20px 0px;
}

#scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 0.5s ease;
    z-index: 1000;
}

#scroll-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#scroll-top:hover {
    background: var(--primary-color);
}

.scroll-icon {
    color: #fff !important;
}

/* footer area end */

/*
 * ┌─────────────────────────────────────────────┐
 * │  Author : Sumon Prodhan                     │
 * │  Role   : Full Stack Developer              │
 * │  Email  : sumonpro.dev@gmail.com            │
 * │  Page   : Portfolio Page css code           │
 * └─────────────────────────────────────────────┘
 */

/* portfolio page css start */
.portfolio-section-padding {
    padding: 30px 0px 100px 0px;
}

.portfolio-section-heading h1 {
    font-size: 50px;
    color: var(--primary-text-color);
    font-weight: 600;
}

.portfolio-section-heading h1 span {
    color: var(--primary-color);
}

.portfolio-section-heading p {
    color: var(--secondary-text-color);
    font-size: 20px;
}

.portfolio-item {
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: all ease-in-out 0.4s;

}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.portfolio-item:hover {
    transform: scale(1.01);
}

.portfolio-item:hover .portfolio-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    opacity: 1;
    transition: all ease-in-out 0.4s;
}

.portfolio-overlay h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    margin-left: 100px;
}

.portfolio-overlay p {
    color: #fff;
    font-size: 20px;
    margin-left: 100px;
}

.portfolio-overlay a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: #27a102;
    padding: 15px 30px;
    border-radius: 30px;
    margin-left: 100px;
    transition: all ease-in-out 0.4s;
}

.portfolio-overlay a:hover {
    color: #fff;
    background-color: #202020;
}

/* portfolio page css end */

/*
 * ┌─────────────────────────────────────────────┐
 * │  Author : Sumon Prodhan                     │
 * │  Role   : Full Stack Developer              │
 * │  Email  : sumonpro.dev@gmail.com            │
 * │  Page   : About Page css code               │
 * └─────────────────────────────────────────────┘
 */
/* service page css start */
/* hero section css start */
.services-sec {
    background-color: #f6f7f9;
}

/* hero section css end */

/* expertise section css start */
.expertise-sec {
    background-color: #f0f7ef;
}

.expertise-item {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid transparent;
    transition: border-color 0.5s ease;
}

.expertise-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #5eff8e;
    transform: translate(100%, -100%) rotate(45deg);
    transition: all 1s ease;
    z-index: 0;
}

.expertise-item:hover::before {
    width: 700%;
    height: 700%;
    transform: translate(0, 0) rotate(45deg);
}

.expertise-item:hover {
    border-color: #5eff8e;
}

.expertise-item * {
    position: relative;
    z-index: 1;
}

.expertise-item h5 {
    font-weight: 400;
}

/* service page css end */



/*
 * ┌─────────────────────────────────────────────┐
 * │  Author : Sumon Prodhan                     │
 * │  Role   : Full Stack Developer              │
 * │  Email  : sumonpro.dev@gmail.com            │
 * │  Page   : About Page css code               │
 * └─────────────────────────────────────────────┘
 */

/* about page css start*/
/* hero section css start */
.about-content {
    padding: 50px 100px 0px 0px;
}

.about-img img {
    width: 400px;
    height: auto;
    border-radius: 15px;
}

/* hero section css end */

/* making area css start */
.about-making-img {
    width: 400px;
    height: auto;
    border-radius: 15px;
}

.making-area-content {
    padding: 0px 100px 0px 0px;
}

/* making area css end */

/* growth area css start */
.growth-area-content {
    padding-top: 50px;
}

.growth-img img {
    width: 400px;
    height: auto;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* growth area css end */

/* leadership area css start */
.leadership-area-content {
    padding: 0px 100px 0px 0px;
}

/* leadership area css end */

/* dream area css start */
.dream-card {
    padding: 0px 20px 0px 20px;
    transition: all ease-in-out 0.4s;
}

.dream-card:hover {
    transform: scale(1.01);
}

.dream-card h4 {
    margin: 20px 0px 20px 0px;
}

.dream-card img {
    width: 80px;
    height: auto;
    margin-top: 40px;
}

/* dream area css end */

/* achievements area css start */
.achievements-area h1 {
    font-size: 40px;
    color: var(--primary-text-color);
    font-weight: 600;
}

.achievements-area h1 span {
    color: var(--primary-color);
}

.achievements-card {
    padding: 30px 0px 0px 0px;
    transition: all ease-in-out 0.4s;
}

.achievements-card:hover {
    transform: scale(1.01);
}

.achievements-card h1 {
    font-size: 50px;
    font-weight: 400;
}

.achi-1 {
    color: #7052fb !important;
}

.achi-2 {
    color: #27a102 !important;
}

.achi-3 {
    color: #22cd1a !important;
}

.achi-4 {
    color: #f62ee1 !important;
}

/* achievements area css end */

/* introducing area css start */
.introducing-card {
    position: relative;
    width: 380px;
    height: 380px;
    perspective: 1000px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}

.introducing-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.introducing-card:hover .introducing-inner {
    transform: rotateY(180deg);
}

.introducing-img,
.introducing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
}

.introducing-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.introducing-overlay {
    background-color: #2b2350;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    padding: 25px;
    transform: rotateY(180deg);
    box-sizing: border-box;
}

.introducing-overlay p::first-letter {
    font-size: 30px;
}

/* introducing area css end */

/* hire us area css start */
.hire-us-area {
    background-image: url(./images/about-page_img/hire-sec_img/cta-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px;
}

.hire-us-section {
    margin-bottom: 40px;
}

/* about page css end */


/*
 * ┌─────────────────────────────────────────────┐
 * │  Author : Sumon Prodhan                     │
 * │  Role   : Full Stack Developer              │
 * │  Email  : sumonpro.dev@gmail.com            │
 * │  Page   : Contact Page css code             │
 * └─────────────────────────────────────────────┘
 */
/* contact page css start */

.contact-hero-content h1 {
    font-size: 50px;
    color: var(--primary-text-color);
    font-weight: 600;
}

.contact-hero-content p {
    color: var(--secondary-text-color);
    font-size: 16px;
}

.contact-hero-img img {
    width: 400px;
    height: auto;
    border-radius: 15px;
    display: block;
    margin-right: auto;
}

.contact-form-left img {
    width: 450px;
    height: auto;
    border-radius: 15px;
}

.contact-form-left h2 {
    margin-left: 50px;
}


.contact-form-right input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-color: #fdfafa;
    margin-bottom: 30px;
}

.contact-form-right input::placeholder {
    color: var(--secondary-text-color);
}

.contact-form-right input:focus {
    outline: none;
    box-shadow: 0px 5px 20px 2px #c7c7c7;
}

.contact-form-right input:focus::placeholder {
    color: var(--primary-color);
}

.contact-form-right textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-color: #fdfafa;
}

.contact-form-right textarea::placeholder {
    color: var(--secondary-text-color);
}

.contact-form-right textarea:focus {
    outline: none;
    box-shadow: 0px 5px 20px 2px #c7c7c7;
}

.contact-form-right textarea:focus::placeholder {
    color: var(--primary-color);
}

.contact-form-btn button {
    background-color: var(--primary-color);
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 5px 20px 2px var(--primary-color);
    transition: all ease-in-out 0.5s;
}

.contact-form-btn button:hover {
    box-shadow: none;
}

.google-map iframe {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    margin: 10px 0px 50px 0px;
}

.contact-card-1 {
    background-color: #28a745;
    border: none;
}

.contact-card-2 {
    background-color: #6c757d;
    border: none;
}

.contact-card-3 {
    background-color: #17a2b8;
    border: none;
}

/* contact page css end */

/*
 * ┌─────────────────────────────────────────────┐
 * │  Author : Sumon Prodhan                     │
 * │  Role   : Full Stack Developer              │
 * │  Email  : sumonpro.dev@gmail.com            │
 * │  Page   : Thank you !                       │
 * └─────────────────────────────────────────────┘
 */